h1 {
  text-align: center;
}

.square {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  /* center question marks */
  font-size: 150px;
  text-align: center;
}

.gameboard {
  /* use flex box */
  display: flex;
  flex-wrap: wrap;
  /* 200 + 200 + 200 + 1 + 1 + 1 = 603 add some more for wiggle room */
  width: 620px;
  margin: 0 auto;
}

.playAgainButton {
  margin: 0 auto;
  height: 30px;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  
}